body {
  background-color: #ccc;
  color: #444;
}

input {
  background-color: #fff;
  border-radius: 5px;
  border: 0px;
  outline: 0px;
  padding: 10px;
  margin: 5px 0;
  width: 95%;
}

button {
  background-color: #75015c;
  border-radius: 5px;
  border: 0px;
  outline: 0px;
  color: #fff;
  padding: 15px;
  margin: 5px;
}
button:hover {
  background-color: #5b0142;
  cursor: crosshair;

}

.loginBtnsCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.titleComp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formComp {
  display: flex;
  justify-content: center;
  align-items: center;
}
