input {
  background-color: rgba(0,0,0,.2);
  color: rgba(168, 168, 168,1);
  border-radius: 5px;
  border: 0px;
  outline: 0px;
  padding: 10px;
  margin: 5px 0;
  width: 95%;
}
::-webkit-input-placeholder {
   color: rgba(255,255,255,.5);
}

button {
  background-color: rgba(117, 1, 92, .5);
  border-radius: 5px;
  border: 0px;
  outline: 0px;
  color: rgba(168, 168, 168,.9);
  padding: 15px;
  margin: 5px;
}
button:hover {
  background-color: #8e2671;
  cursor: cell;
}

.loginBtnsCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.landingFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBoxPosition {
  position: relative;
  top: 40px;
}
